---
import cssVars from "../styles/css-vars";
---

<footer>
  <div class="footer-first-line">
    <div class="logo">
      <a href="/"><div></div></a>
    </div>
    <div class="footer-links">
      <a href="/about">OUR&nbsp;COMPANY</a>
      <a href="/locations">LOCATIONS</a>
      <a href="/contact">CONTACT</a>
    </div>
  </div>
  <div class="footer-second-line">
    <div class="footer-text">
      <p><b>Designo Central Office</b></p>
      <p>3886 Wellington Street</p>
      <p>Toronto, Ontario M9C 3/5</p>
    </div>
    <div class="footer-text">
      <p><b>Contact us (Central Office)</b></p>
      <p>P : +1 253-864-8967</p>
      <p>M : contact@designo.co</p>
    </div>
    <div class="footer-icons">
      <a href="#facebook">
        <div class="facebook"></div>
      </a>
      <a href="#youtube"><div class="youtube"></div></a>
      <a href="#twitter"><div class="twitter"></div></a>
      <a href="#pinterest"><div class="pinterest"></div></a>
      <a href="#instagram"><div class="instagram"></div></a>
    </div>
  </div>
</footer>

<style define:vars={cssVars}>
  footer {
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding-top: 140px;
    margin-top: auto;
  }

  footer .footer-first-line .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 64px auto;
  }

  footer .footer-first-line .logo img {
    width: 60%;
    margin-top: 64px;
  }

  footer .footer-first-line .logo a div {
    background-image: url("/src/assets/shared/desktop/logo-light.png");
    background-size: cover;
    width: 202px;
    height: 24px;
    margin-top: 35px;
  }

  footer .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
  }

  footer .footer-links a {
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--colorWhite);
  }

  footer .footer-links a:hover {
    text-decoration: underline;
  }

  footer .footer-second-line .footer-text {
    line-height: 0px;
    padding-bottom: 5px;
  }

  footer .footer-second-line .footer-text p {
    line-height: 6px;
    text-align: center;
    opacity: 50%;
  }

  footer .footer-icons {
    margin: 30px auto;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  footer .footer-icons a div {
    background-size: cover;
    width: 24px;
    height: 24px;
  }
  footer .footer-icons a .facebook {
    background-image: url("/src/assets/shared/desktop/icon-facebook.svg");
  }

  footer .footer-icons a .youtube {
    background-image: url("/src/assets/shared/desktop/icon-youtube.svg");
  }

  footer .footer-icons a .twitter {
    background-image: url("/src/assets/shared/desktop/icon-twitter.svg");
    width: 28px;
  }

  footer .footer-icons a .pinterest {
    background-image: url("/src/assets/shared/desktop/icon-pinterest.svg");
  }

  footer .footer-icons a .instagram {
    background-image: url("/src/assets/shared/desktop/icon-instagram.svg");
  }

  .footer-icons a {
    height: 24px;
  }

  @media (min-width: 600px) and (max-width: 900px) {
    footer {
      margin-top: auto;
      padding-top: 140px;
    }

    .footer-first-line {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 95%;
    }

    footer .footer-first-line .logo {
      margin: 64px 0;
      padding-left: 3%;
    }

    footer .footer-first-line .logo a img {
      margin: 0;
      width: 180px;
    }

    footer .footer-links {
      flex-direction: row;
      justify-content: right;
      align-items: center;
      gap: 5%;
      padding-right: 3%;
    }

    footer .footer-links a {
      /* padding-left: 40px; */
      padding-bottom: 0;
    }

    .footer-second-line {
      display: flex;
      justify-content: space-between;
      width: 94%;
      padding-bottom: 80px;
      padding-left: 3%;
      padding-right: 3%;
    }

    footer .footer-icons {
      margin: 0;
      align-items: end;
    }

    footer .footer-text p {
      margin: 32px auto 0 auto;
    }
  }

  @media (min-width: 900px) {
    footer {
      margin-top: auto;
      padding-top: 50px;
    }

    .footer-first-line {
      display: flex;
      justify-content: space-between;
      width: 80%;
      padding-bottom: 80px;
      padding-top: 220px;
    }

    footer .footer-first-line .logo {
      margin: 0;
    }

    footer .footer-first-line .logo a {
      text-align: left;
    }

    footer .footer-first-line .logo img {
      margin-top: 0;
    }

    footer .logo img {
      width: 202px;
    }

    footer .footer-links {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    footer .footer-links a {
      padding-left: 40px;
      padding-bottom: 0;
    }

    .footer-second-line {
      display: flex;
      justify-content: space-between;
      width: 80%;
      padding-bottom: 80px;
    }

    footer .footer-second-line .footer-text p {
      text-align: left;
    }

    footer .footer-icons {
      margin: 0;
      align-items: end;
    }

    footer .footer-text p {
      margin: 32px auto 0 auto;
    }
  }
</style>
